@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "SF Pro Display-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/62e5bd2f729e81c0f2cb0ddb/fonts/sf-pro-display-regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "SF Pro Display-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/634e6b4b723b28ff69092d1b/fonts/fontsfree-net-sfprodisplay-bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "SF Pro Display-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/64f7ed1586d1fc0125de8d9c/fonts/sf-pro-display-medium.otf")
    format("opentype");
}

.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#customize{
  scroll-margin-top: 100px;
}
#product{
  scroll-margin-top: 100px;
}
#about{
  scroll-margin-top: 100px;
}
#opening{
  scroll-margin-top: 300px;
}

a:visited {
  color: #000000; 
}
